@font-face {
    font-family: 'Techno Race';
    src: url(../fonts/techno-race/TechnoRaceItalic.otf);
    font-style: italic;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Techno Race", sans-serif;
    font-size: 3rem;
}

:root {
    --background-pr: #232528;

    --background-compl: #FFFCFF;

    --font-pr: var(--background-compl);

    --accent-pr: #e7bb41;
    --accent-sec: #00FFC2;

    color-scheme: dark light;
}

body {
    height: 100vh;
    overflow: hidden;
    position: relative;


    font-family: sans-serif;

}

.carousels {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -10;
}

.wrapper {
    height: 100%;
    position: relative;
}

.character-selection {
    height: 100%;
    position: relative;
}


.selection-pane {
    /*height: 60%;*/
    background: color-mix(in srgb, var(--background-pr) 60%, transparent);
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: min(60%, 50rem);
    left: 50%;
    transform: translateX(-50%);


    border-radius: 2rem 2rem 0 0;
    padding: 1rem;


    backdrop-filter: blur(15px);
}


.players-select {
    display: flex;
    width: 100%;
}

.selection-pane .select {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.select .name {
    font-size: 1.2rem;
    padding: .4rem .8rem;
    border-radius: .4rem;
    border: 1px solid color-mix(in srgb, var(--background-compl) 40%, transparent);

    outline: none;
    text-align: center;

    background: color-mix(in srgb, var(--background-pr) 50%, transparent);
    backdrop-filter: blur(15px);

}

.select .character-select {

    padding-block: .4rem;

    border-radius: 1rem;
    padding-inline: 1rem;
    text-align: center;

    display: grid;
    grid-template-columns: 40px 1fr 40px;
    width: 100%;
    align-items: center;
    gap: .4rem;

    & .character-select-info {
        display: flex;
        flex-direction: column;
    }


    & .character-name {
        font-size: 1.5rem;
        font-weight: 900;
        font-family: "Techno Race", sans-serif;
        letter-spacing: 2px;
    }

    & .character-select-prev,
    & .character-select-next {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */

        justify-self: center;
        align-self: center;
        font-size: 2rem;
        height: 72%;
        padding-inline: 1rem;
        cursor: pointer;

        transition: color .2s;

        font-weight: 800;

        &:hover {
            color: var(--accent-pr);

        }
    }

    & .character-type {
        color: var(--font-pr);
        opacity: .8;
        text-transform: capitalize;
    }
}


.select .stat-attack,
.select .stat-health {

    position: relative;
    height: 1.5rem;
    width: 60%;

    display: grid;
    grid-template-columns: 10% 70% 10%;
    gap: 5%;

    .stat-attack-icon,
    .stat-health-icon {
        height: 100%;
        overflow: hidden;
    }

    .percent-bar {
        justify-self: center;
        width: 100%;
        background: color-mix(in srgb, var(--background-compl) 40%, transparent);
        border-radius: 100vh;
        height: 100%;
        overflow: hidden;

        .percent-bar-progress {
            height: 100%;
            width: 0;
            z-index: 100;
            transition: width .2s;
        }
    }

    .stat-attack-value,
    .stat-health-value {
        font-family: "Techno Race", sans-serif;
        font-size: 1rem;
        text-align: right;
        padding-top: .2rem;
    }
}

.select .character-description {
    padding-inline: 3rem;
    text-align: center;

}

.selection-pane img.start {
    image-rendering: pixelated;
    height: 3rem;
    margin-inline: auto;
    display: block;

    pointer-events: none;

    cursor: pointer;

    transition: transform .1s, filter .3s;

    position: relative;
    filter: drop-shadow(2px 0px var(--accent-sec)) drop-shadow(-2px 0px var(--accent-sec)) drop-shadow(0px -2px var(--accent-sec)) drop-shadow(0px 2px var(--accent-sec)) grayscale(1);


    &.enabled {
        pointer-events: all;

        -webkit-animation: .4s ease-in-out 0s infinite alternate-reverse forwards start-button;
        -o-animation: .4s ease-in-out 0s infinite alternate-reverse forwards start-button;
        animation: .4s ease-in-out 0s infinite alternate-reverse forwards start-button;

        filter: drop-shadow(2px 0px var(--accent-sec)) drop-shadow(-2px 0px var(--accent-sec)) drop-shadow(0px -2px var(--accent-sec)) drop-shadow(0px 2px var(--accent-sec));
    }

    &.enabled:hover {
        transform: scale(1.1);
        -webkit-animation-duration: .2s;
        -o-animation-duration: .2s;
        animation-duration: .2s;


        filter: drop-shadow(3px 0px var(--accent-pr)) drop-shadow(-3px 0px var(--accent-pr)) drop-shadow(0px -3px var(--accent-pr)) drop-shadow(0px 3px var(--accent-pr));

    }

    &.enabled:active {
        transform: scale(.9);
    }

}


/* Character select carousel */

.player-slot-carousel {

    position: absolute;

    height: 100vh;
    width: 50%;
    left: 25%;
    z-index: -1;
    transform: translateX(-50%);


    .player-slot {
        height: 100%;
        width: 49vw;
        left: 0;
        top: 10%;
        position: absolute;

        image-rendering: pixelated;
        background: center / contain no-repeat;

        scale: 1;
    }

    .carousel-one {
        background-image: url("../img/fighters/fighter-knight.webp");
    }

    .carousel-two {
        background-image: url("../img/fighters/fighter-mage.webp");
    }

    .carousel-three {
        background-image: url("../img/fighters/fighter-shrek.webp");
    }

    .carousel-four {
        background-image: url("../img/fighters/fighter-angel.webp");
    }

    .carousel-five {
        background-image: url("../img/fighters/fighter-demon.webp");
    }

    .carousel-six {
        background-image: url("../img/fighters/fighter-administrator.webp");
    }

    .order-2-p1,
    .order-2-p2 {
        left: -20vw;
        top: -150%;
    }

    .order-3-p1,
    .order-3-p2 {
        left: -300%;
        top: -160%;
    }

    .order-4-p1,
    .order-4-p2 {
        top: 10%;
        left: -340%;
    }

    .order-5-p1,
    .order-5-p2 {
        left: -300%;
        top: 140%;
    }

    .order-6-p1,
    .order-6-p2 {
        top: 130%;
        left: -20vw;
    }

}

.player-slot-carousel-2 {
    transform: scaleX(-100%) translateX(40%);
}


/* Start Button */

@-webkit-keyframes start-button {
    from {
        scale: 1;
    }
    to {
        scale: 1.1;
    }

}

@-o-keyframes start-button {
    from {
        scale: 1;
    }
    to {
        scale: 1.1;
    }

}

@-moz-keyframes start-button {
    from {
        scale: 1;
    }
    to {
        scale: 1.1;
    }

}

@keyframes start-button {
    from {
        scale: 1;
    }
    to {
        scale: 1.1;
    }

}


/* Character Idle */

@-webkit-keyframes character-idle {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(2%);
    }

}

@-o-keyframes character-idle {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(2%);
    }
}

@-moz-keyframes character-idle {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(2%);
    }

}

@keyframes character-idle {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(2%);
    }

}


/* Game - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.game-container {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.action-container {
    height: 8rem;
    width: min(90%, 100rem);
    position: absolute;
    left: 50%;
    top: 5vh;


    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
}

.action-section {
    width: min(49%, 40rem);

    gap: .4rem;

    display: grid;
    grid-template-rows: 5rem 1rem 1fr;
    grid-template-columns: 6rem 1fr;

    font-family: "Techno Race", sans-serif;


    .ch-img {
        overflow: hidden;
        height: 6.4rem;
    }

    .name-percentage {

        align-self: end;
        display: flex;
        justify-content: space-between;
        align-items: end;

        font-size: 2.4rem;
        margin-left: 1rem;

        .live-percentage {
            font-size: 2rem;
        }
    }

    .live-bar {
        position: relative;
        background: red;
        grid-column: 2 / 3;
        background: color-mix(in srgb, var(--background-compl) 40%, transparent);
        clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
        overflow: hidden;

        & .live-bar-live {
            height: 100%;
            width: 100%;
            background: #00FFC2;
        }

    }

    .footer {
        grid-column: span 2;

        display: flex;
        justify-content: space-between;

        & > *:nth-child(2) {
            margin-right: 10%;
        }
    }
}

.action-section-p2 {

    grid-template-columns: 1fr 6rem;

    .live-bar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);

    }

    .ch-img {
        grid-column: 2 / 3;
        position: relative;
        left: -.4rem;
    }

    .name-percentage {
        margin-left: 0;
        margin-right: 1rem;

        flex-direction: row-reverse;

        grid-row: 1 / 2;
    }

    .live-bar {
        grid-column: 1  / 2;
        grid-row: 2 / 3;

        .live-bar-live {
            position: absolute;
            right: 0;
        }
    }

    .footer {
        flex-direction: row-reverse;

        & > *:nth-child(2) {
            margin: 0 0 0 10%;
        }
    }
}


/* Dock  */

.ctrl-dock {
    backdrop-filter: blur(15px);

    height: 6rem;
    background: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: color-mix(in srgb, var(--background-pr) 60%, transparent);

    border-radius: 2rem 2rem 0 0;

    padding: 1.2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    cursor: pointer;
    overflow: hidden;

    .time-remaining {

        height: 5px;
        position: absolute;
        top: 0;
        left: .5rem;
        width: 0;

        background: var(--accent-sec);
    }

    .dice {
        height: 100%;
        image-rendering: pixelated;
    }

    .mode-check {

        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */


        background: color-mix(in srgb, var(--background-compl) 10%, transparent);

        border-radius: 1rem;
        padding: .6rem 1rem;
        height: auto;

        font-size: 1.6rem;

        display: flex;
        align-items: center;

        gap: .8rem;
        transition: scale .1s;

        .checkbox-desc {
            font-family: "Techno Race", sans-serif;
        }

        .checkbox {
            height: 2rem;
            width: 2rem;
            background: url("../img/checkmark-unchecked.png") center / contain no-repeat;
            image-rendering: pixelated;
            transition: scale .1s;

        }

        &[data-checked="true"] .checkbox {
            background: url("../img/checkmark-checked.png") center / contain no-repeat;
        }

        &:hover {
            scale: 1.05;

            .checkbox {
                scale: 1.05;
            }
        }

    }


    .dice {
        transition: scale .15s;

        background: url("../img/dice/dice-1.png") center / contain no-repeat, url("../img/dice/dice-q.png") center /contain no-repeat;

        &:hover {
            scale: 1.05;
        }
    }
}

.damage-display {
    position: absolute;
    font-family: "Techno Race", sans-serif;
    font-size: 3rem;
    color: red;

    left: 35%;
    top: 25%;

    opacity: 0;
}

.damage-display-p2 {
    left: unset;
    right: 35%;
    opacity: 0;
}

.damage-display-tie {
    color: var(--accent-pr);

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    font-family: "Techno Race", sans-serif;

    opacity: 0;
}


.win-title {
    position: absolute;
    bottom: -33%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    font-family: "Techno Race", sans-serif;
}
